* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', sans-serif;
    overflow: hidden;
}
/* Index style */

    body {
        background-image: linear-gradient(lavender, rgba(29, 211, 187, 0.425));
        height: 100vw;
    }
    .small {
        display:none;
    }
.welcome {
    display: flex;
    margin: auto;
    margin-top: 8%;
}

.welcome > h1 {
    margin: auto;
    font-size: 3em;
    letter-spacing: 8px;
}

.intro {
    display: flex;
}
.intro > h3 {
    margin: auto;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 30%;
    height: 460px;
    border: 1px solid rgba(167, 167, 167, 0.555);
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(167, 167, 167, 0.555);
    background-color: white;
}

.card-body {
    margin: auto;
    width: 100%;
    
    margin-top: 10%;
}

.input {
    margin: auto;
    width: 80%;
}

.input > input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(167, 167, 167, 0.555);
    padding: 10px;
}
.input > input:focus {
    outline: 0;
}
.input > p {
    margin-left: 6px;   
    margin-bottom: 10px;
    margin-top: 16px;
    font-size: 1.2em;
}

.card-btm {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.login {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.login-btn {
    width: 100%;
    height: 50px;
    background-color: rgba(29, 211, 187, 0.151);
    border: 1px solid rgba(138, 138, 138, 0.555);
    font-size: 1.2em;
}

.login-btn:hover {
    background-color: rgba(29, 211, 187, 0.253);
    font-size: 1.3em;
}





  @media only screen and (max-device-width: 400px) {
      *{
          overflow: auto;
          margin: 0;
          padding: 0;
      }
      svg {
          height: 100px;
          width: 100px;
      }
    body {
        background-color: rgba(151, 140, 140, 0.637);
        background-image: none;
        height: auto;
    }
    
    header {
        display: flex;
        flex-direction: column;
    }
    .welcome {
        margin: auto;
        margin-top: 20%;
        color: rgb(255, 255, 255);
    }

    .welcome > h1 {
        font-size: 10em;
        text-align: right;
        
    }

    .intro {
        color: white;
        font-size: 3em;
        color: rgba(51, 50, 50, 0.712);
        text-align: left;
        margin-top: 40px;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height:auto;
        background-color: white;
        border: 0;
        border-radius: 0;
        margin-top: 80px;
    }
    .card-body {
        margin: 0;
        width: 100%;
        margin-top: 10%;
    }
    .input {
        width: 100%;
    }
    
    .large {
        display: none;
    }
    .small {
        display: block;
    }
    .input > input {
        width: 100%;
        height: 150px;
        border-radius: 0;
        border: 1px solid rgba(97, 97, 97, 0.555);
        padding: 5px;
        place-content: none;
        padding-bottom: 40px;
    }
    .input > input:focus {
        outline: 0;
    }
    .input > p {
        margin-left: 6px;   
        margin-bottom: 10px;
        margin-top: 16px;
        font-size: 6em;
        color: rgba(78, 78, 78, 0.767);

    }
    
    .card-btm {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .login {
        margin-top: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .login-btn {
        width: 100%;
        height: 150px;
        background-color: rgba(68, 134, 130, 0.719);
        border: 0;
        font-size: 6em;
        color: white;
        padding-bottom: 25px;
    }
    
    #my-signin2 {
        width: 100%;
        height: 150px;
    }
    .abcRioButton,
    .abcRioButtonBlue {
        width: 100%;
        height: 150px;
    }
    .abcRioButtonContentWrapper {
        width: 100%;
        height: 150px;
    }
    #not_signed_inp30guykpoza {
        font-size: 2em;
    }
    
  }




/* Main page styling */
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.logo {
    width: 25%;
}
.logo-img {
    height: 80px;
}

.search {
    width: 50%;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 96%;
    height: 60px;
    margin: 20px;
    border: 0;
    border-radius: 60px;
    background-color: rgba(228, 228, 228, 0.233);
    padding: 30px;
    color: rgb(126, 126, 126);
    font-weight: 600;
}

.search-input:focus {
    outline: 0;
    
}
.search-input:hover {
    height: 62px;
    width: 100%;
    margin-top: 19px;
    box-shadow: 0px 0px 6px rgba(138, 138, 138, 0.281), 0px 0px 10px rgba(223, 223, 223, 0.247);
}
.user {
    width: 25%;
}